<div style="height: 100px;"></div>
<div id="wrapper">
    <div class="sidebar">
        <div class="profile-img">
            <img src="http://muhammederdem.com.tr/imagesrdm/profile.jpg" alt="">
        </div>

        <ul class="sidebar-menu">
            <li><a class="sidebar-menu__links " routerLink="notification"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-journal" viewBox="0 0 16 16">
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              </svg>

            </a>
            </li>
            <li><a class="sidebar-menu__links active"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
              </svg></a></li>
              <li><a class="sidebar-menu__links" routerLink="Crush"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-right-heart-fill" viewBox="0 0 16 16">
                <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2ZM8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg></a></li>            
              
        </ul>

        <a href="#" class="btn-menu"><img src="img/menu.png" alt=""></a>
    </div>

    <div class="messages">

        <div class="seacrh-bar">

            <img src="img/search.png" alt="">
            <input type="text" placeholder="Search">

        </div>

        <a href="#" class="messages__item">
                <div class="name">
                    Muhammed ERDEM
                </div>
                <div class="date">
                    1h ago
                </div>

                <div class="content">
                    Currently We are looking for a UI designer to work on our websites and mobile application...
                </div>
        </a>

        <a href="#" class="messages__item unread">
                <div class="name">
                    Muhammed ERDEM
                </div>
                <div class="date">
                    1h ago
                </div>

                <div class="content">
                    Currently We are looking for a UI designer to work on our websites and mobile application...
                </div>
        </a>

        <a href="#" class="messages__item">
                <div class="name">
                    Muhammed ERDEM
                </div>
                <div class="date">
                    1h ago
                </div>

                <div class="content">
                    Currently We are looking for a UI designer to work on our websites and mobile application...
                </div>
        </a>

        <a href="#" class="messages__item">
                <div class="name">
                    Muhammed ERDEM
                </div>
                <div class="date">
                    1h ago
                </div>

                <div class="content">
                    Currently We are looking for a UI designer to work on our websites and mobile application...
                </div>
        </a>

        <a href="#" class="messages__item active">
                <div class="name">
                    Muhammed ERDEM
                </div>
                <div class="date">
                    1h ago
                </div>

                <div class="content">
                    Currently We are looking for a UI designer to work on our websites and mobile application...
                </div>
        </a>


    </div>

    <div class="message-content">

        <div class="message-content__item">
            <div class="message-content-header">
                <div class="name">Muhammed ERDEM</div>
                <div class="phone">+90 507 047 3099</div>
                <img src="img/message-more.png" alt="">
            </div>
        </div>

        <div class="message-box">
            <div class="message-box__item incoming">
                <div class="name">Muhammed ERDEM</div>

                <div class="box-text">
                    Hey man!

                    <div class="time">18:36</div>
                </div>
            </div>

            <div class="message-box__item outgoing">

                <div class="box-text">
                        Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir

                    <div class="time">18:36</div>
                </div>
            </div>

            <div class="message-box__item outgoing">

                <div class="box-text">
                    Currently We are looking for a UI designer to work on our websites and mobile application.

                    <div class="time">18:36</div>
                </div>
            </div>

            <div class="message-box__item incoming">
                <div class="name">Muhammed ERDEM</div>

                <div class="box-text">
                        Currently We are looking

                    <div class="time">18:36</div>
                </div>
                
            </div>
            
        </div>

        <div class="message-form">
            <input type="text" placeholder="Type your message here">
            <img src="img/submit.png" alt="">
        </div>

    </div>
</div>