
<main>
    <div class="">
        <div class="">
            <div class=""></div>
            <img class="user-header" src="https://i.imgur.com/WS9ODfZ.jpg" alt="">
        </div>
    </div>
    <div class="user-info-bar">
        <div class="ufo-bar-col1">
        </div>
        <div class="ufo-bar-col2">
            <div class="ufo-bar-col2-inner">
                <div class="user-icon-wrapper">
                    <img class="user-icon" src="https://i.imgur.com/aviQ5vj.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="ufo-bar-col3">
            <div class="ufo-bar-col3-inner">
                <div class="username-wrapper-outer">
                    <div class="username-wrapper">
                        <div class="verified" style="opacity: 0; top: 150%;"><p>Verified Account</p></div>
                        <h3 class="username-dev"> {{data.name}} </h3>
                        
                    </div>

                    <div>
                        <a class="ufo-bar-fff" href=""><span>857</span> Followers</a>
                        <a class="ufo-bar-fff" href=""><span>137</span> Following</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 100px;"></div>
        <div class="ufo-bar-col4">
            <div class="ufo-bar-col4-inner">
                <button class="button2 btn-primary2"><i class="uil uil-plus"></i> Crush<div class="btn-secondary2"></div></button>
            </div>
           
        </div>
        <div class="ufo-bar-col5">
            <div class="ufo-bar-col4-inner">
                <button class="button2 btn-primary2"><i class="uil uil-plus"></i> Message<div class="btn-secondary2"></div></button>
            </div>
        </div>
    </div>
    <div class="user-info-bar2">
        <div class="ufo-bar2-col1">
        </div>
        <div id="ufo-home" class="ufo-bar2-col2 ufo-bar2-block">
            <div class="ufo-bar2-col2-inner flexbox">
                <span><i class="uil uil-trophy"></i></span>
                <h3>Posts</h3>
            </div>
        </div>
        <div id="ufo-videos" class="ufo-bar2-col3 ufo-bar2-block">
            <div class="ufo-bar2-col3-inner flexbox">
                <span><i class="uil uil-star"></i></span>
                <h3>Description</h3>
            </div>
        </div>
    
        <div class="ufo-bar2-col7">
        </div>
    </div>
</main>