
<nav class="nav" *ngIf="nav.visible">
    <div class="container">
        <div class="logo">
            <a routerLink=""><img src="../../../assets/image/main/logo.png">pingMe</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks " style="font-size: small;">
                <li><a routerLink="home">HOME</a></li>
                <li><a routerLink="profile">PROFILE</a></li>
                <li><a routerLink="message">MESSAGES</a></li>
                <li class=""><a routerLink="login">LOGOUT</a>
                </li>
                
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
        
    </div>

</nav>
