.main-content{
	width: 50%;
	margin: 5em auto;
	display: flex;
}
.company__info{
	
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}

.login_form{
	background-color: #fff;

}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 0;
  border-radius: 10px;
	transition: all .5s ease;
}
.form__input:focus{
	
	
	border-radius: 4px;
}
.btn{
  
	transition: all .5s ease;
	width: 50%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
 
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}
.gender-male,.gender-female {
    display: inline-block;
  }
  .gender-female {
    margin-left: 35px;
  }
  radio:required {
    border-color: red;
  }