
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<title>pingMe</title>
</head>
<body>
	<!-- Main Content -->
  <div style="height: 100px;"></div>
	<div class="container-fluid">
		<div class="row main-content text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<img src="../../../assets/image/main/login.png"class="img-fluid" alt="Sample image">
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In</h2>
					</div>
					<div class="row">
						<form control="" class="form-group">
							<div class="row">
								<input type="text" name="email" id="username" class="form__input" placeholder="Email" [(ngModel)]="email">
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password" name="password" id="password" class="form__input" placeholder="Password" [(ngModel)]="password">
							</div>
							
							<div class="row">
								<input type="submit" value="Submit" class="btn" (click)="login()">
							</div>
						</form>
					</div>
					<div class="row">
						<p>Don't have an account? <a routerLink="/signup">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</body>