<section class="home">
    <div class="ha">Seize your opportunities and find the people you cross paths with!</div>
</section>
<div style="height: 50px"></div>
<div>
    <!-- just to make scrolling effect possible -->
        <p class="myP" style="color: rgb(0, 160, 160);font-style: italic;font-weight:normal;">Why use a dating website when we cross paths with hundreds, and sometimes thousands of people in our everyday lives? We believe fate is what brings two people to the same place at the same time, but we know that it can be difficult to actually connect with that person when you cross paths. That’s why we created a tool to make the process easier.</p>
        <div style="height: 50px"></div>
        <p class="myP" style="font-size: 18px;">And this is how pingMe was born, in March 2023. To give you the power to seize opportunities that arise every day when you randomly cross paths with someone you like. Thanks to happn, you can find the people you’ve crossed paths with and make great connections.</p>
    </div>