
<section class="home">
    

  
</section>
<div style="height: 100px;"></div>
<div style="height: 300px">
    <!-- just to make scrolling effect possible -->
        <h2 class="myH2">Sometimes destiny needs a boost!</h2>
        <p class="myP">Walking down the street, sitting at a bar or on a night out, we’ve all experienced it: you make eye contact with someone who catches your attention, but you don’t dare go up to them. Now with happn, you can find the people you’ve crossed paths with and make your own luck!</p>
    </div>
        <div style="height: 300px">
            <h2 class="myH2">It’s easy to find that mystery person!</h2>
            <p class="myP">You can find the person that caught your eye in no time. Read through their profile to see their pics, the music they like, the things you have in common… Precious intel that will help you confirm your desire to meet them.<br><br><a routerLink="signup" style="font-family: monospace;text-decoration: none;">Find the people you’ve crossed paths with >
            </a></p>
        </div>
  
    
<section>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div >
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                    <h2 class="myH2">Like & Crush!</h2>
                    <p class="myP">Did their profile catch your eye? Like it! When the feeling is mutual, it’s a Crush! Then you can start chatting and getting to know each other.<br><br><p>Do you think you might fall hard for this one? Increase your chances by sending them a Flashnote: a little personalized message that will make you stand out!</p><br><br><a routerLink="signup" style="font-family: monospace;text-decoration: none;">Seize the opportunities that come your way >
                    </a></p>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
          
                    <img src="../../../assets/image/main/love.png"
                      class="img-fluid" alt="Sample image">
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</section>

